* {
  font-family: "Carter One", cursive;
}

#topNav {
  margin-bottom: 0;
}

#nav2 {
  width: 100%;
}

#nav2.affix-top {
  position: static;
}

#nav2.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.navbar-toggle {
  outline: 0;
}

h1 {
  color: grey;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}