{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Hood Watch Group - {{title}}</title>
    {% else %}
    <title> Hood Watch </title>
    {% endif %}

    <link rel="icon" type="image/jpg" href="static/images/hood.jpg" />

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

</head>

<body>
    {% include "navbar.html" %}

    {% block content %}
   <h4 style="text-align:right; color:grey; padding-right:20px;"> {{date|date:"l d-F Y"}} </h4>
    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'js/base.js' %}">
    {% endblock %}
</body>

</html>