{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <h1>Important Contact Info:</h1>

    <address>
        <strong>Police Hotlines</strong><br>
        999, 112, 911
    </address>

    <address>
        <strong>Fire and Ambulance Services</strong><br>
        999<br>
        020-2222181/ 020-2222182/ 020-2344599
    </address>

    <address>
        <strong> KPLC- National Contact Centre</strong><br>
        95551 or 0703 070 707 | 0732 170 170<br>
        Telephone +254 203201000<br>
        Email address- customercare@kplc.co.ke
    </address>

    <address>
        <strong> Childline Kenya</strong><br>
        Call 1 1 6<br>
        Whatsapp: +254 722 116 116<br>
        Email: 116@childlinekenya.co.ke
    </address>

    <address>
        <strong> Kenya Revenue Authority</strong><br>
        Tel: +254 (020) 4999 999<br>
        Cell: +254 (0711) 099 999<br>
        Email: callcentre@kra.go.ke
    </address>

    <address>
        <strong> Nairobi City Water and Sewerage Company</strong><br>
        +254724 253582<br>
        https://nairobiwater.co.ke<br><br>

        Customer Care Hotlines:<br>
        0724 253582 0702 206418<br>
        0702 206328<br>
        0702 206459<br>
        0702 205964<br>
        0800 720018
    </address>

    <address>
        <strong>Kenyatta National Hospital</strong><br>
        Use these numbers to call:<br>
        +254203287000<br>
        +254203287000<br>
        +254709 854000 +254730 643000<br>
        +254722 829500/1<br>
        020 4243000<br>
        020 7244000<br>
        020 2726300 -11
    </address>

    <strong> Kenyatta National Hospital;Disaster management command center: </strong><br>
    020 2115953Labour ward: 020 271151Referral:<br>
    +254510510<br>
    Fax: + 254 20 2725 272<br>
    E-mail: knhadmin@knh.or.ke<br><br>
    </address>

    <address>
        <strong> Aga Khan University Hospital, Nairobi</strong><br>
        3rd Parklands Avenue, Limuru Road, Nairobi, Kenya<br>
        Phone: +254 (0) 20 366 2000<br>
        Email: akuh.nairobi@aku.edu<br>
    </address>

    <address>
        <strong> The Mathare Hospital</strong><br>
        Embu - Nairobi Hwy, Nairobi, Kenya<br>
        Tel: +254-202337694 Mobile: +254-721336017<br>
        mathari@health.go.ke
    </address>

    <address>
        <strong> NACADA</strong><br>
        Call 1192<br>
        Phone: +254 202721997 Email: info@nacada.go.ke<br>
        Website: www.nacada.go.ke
    </address>

    <address>
        <strong> Kenya Red Cross</strong><br>
        South C, RedCross Road, Off Popo Road<br>
        P.O. Box. 40712, 00100<br>
        Tel: +254 02 3950000<br>
        Cell (1): +254 703 037000<br>
        Cell (2): +254 722 206958<br>
        Cell (3): +254 733 333041<br>
        Toll Free HOTLINE: 1199<br>
        Email: info@kenyaredcross.org<br>
        Web: www.kenyaredcross.org
    </address>

</div>

{% endblock %}