{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container-fluid" style="background-color:#F3DCDC;">
    <h1>'Welcome to The Hood Watchgroup!'</h1>

    <!-- add business -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="text-align:center; padding-bottom:20px;">
                <p>Click to add a new business:</p>
                <button type="button" class="btn">
                    <a href="{%url 'new_business'%}">Add a Business</a>
                </button>
            </div>
            <hr>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- show businesses -->
    <div class="row">
        
        {% for post in business %}
        <div class="col-md-4">
            <a href="{% url  'profile' post.user.id %}">User: {{post.user}} </a><br>
            <img src="{{post.image.url}}" width="350px" height="350px" style="border: 5px solid firebrick; border-radius: 4px; padding: 5px;">
            <p>Business Name: {{post.business_name}}</p>
            <p>Hood location: {{post.hood}}</p>
            <p>Email address: {{post.business_email}}</p><br>
        </div>
        {% endfor %}
    </div>

    <!-- add hood -->
    <!-- <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="text-align:center; padding-bottom:20px;">
                <p>Click to add a new hood:</p>
                <button type="button" class="btn">
                    <a href="{%url 'new_hood'%}">Add a Hood</a>
                </button>
            </div>
            <hr>
        </div>
        <div class="col-md-3"></div>
    </div> -->

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="text-align:center; padding-bottom:50px;">
                <p>Post a Comment</p>
                <form action="{% url 'post' %}" method="post">
                    {%csrf_token%}
                    {% bootstrap_form postForm layout='inline' %}
                    <input type="submit" value="Post">
                </form>
            </div>
        </div>
        <hr>
        <div class="col-md-3"></div>
    </div>

    <!-- show hoods -->
    <div class="hoods" style="text-align:center;">
        <h3>Hoods</h3>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <div class="panel panel-danger" style="padding:20px;">
                    {% for post in hood %}
                    <div class="panel-heading">
                        <a href="{% url 'hood' post.user.id %}">Name: {{post.hood_name}}</a>
                    </div>
                    <div class="panel-body">
                        <p>Location: {{post.hood_location}}</p>
                    </div>
                    <div class="panel-footer">
                        <p>Population count: {{post.hood_count}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</div>
{% endblock %}