{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container-fluid">

    <div class="hoods" style="text-align:center;">
        <h3>Hoods</h3>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <div class="panel panel-danger" style="padding:20px;">
                    {% for post in hood %}
                    <div class="panel-heading">
                        <a href="{% url 'hood' post.user.id %}">Name: {{post.hood_name}}</a>
                    </div>
                    <div class="panel-body">
                        <p>Location: {{post.hood_location}}</p>
                    </div>
                    <div class="panel-footer">
                        <p>Population count: {{post.hood_count}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


</div>
{% endblock %}