{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container-fluid">

    <img src="{{profile.profile_pic.url}}" width="200" style="padding-top:20px;">
    <h4>{{profile.first_name}} {{profile.last_name}}</h4>
    <p>{{profile.bio}}</p>
    <p>{{profile.email}}</p>
    <p>{{profile.phone_number}}</p><br>


    <h4>My Hood</h4>
    {% for post in hood %}

    <h6>{{post.hood_name}}</h6>
    <p>{{post.city}}</p>
    {{post.hood_location}}

    {% endfor %}

</div>
{% endblock %}